
/*.App {
  text-align: center;
}*/




.App-header {
  display: flex;
  background: url(spiral.jpg) no-repeat center ;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family:sans-serif;
}




