




.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    z-index: 999;
    /*background: #E91E63;*/
    font-family: sans-serif;
    transition:all 0.5s ease ;
  
    
  }
  .navbar.sticky{
    padding: 15px 0px;
    background: #E91E63;
  }
  .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .max-width{
    max-width: 1300px;
    padding: 0px 80px;
    margin: auto;
  }
  .navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .logo a span{
    color: #E91E63;
    transition:all 0.5s ease ;
  }
  .navbar.sticky .logo a span{
    color: #fff;
  }
  .navbar .menu li{
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a{
  display: block;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  margin-left: 25px;
  transition: color 0.5s ease;
  text-decoration: none;
  }
  .navbar .menu li a:hover{
    color: #E91E63;
  }
  .navbar.sticky .menu li a:hover{
    color: #fff;
  }
  .menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
  
  
  
  
  /*Home Page */
  .home .max-width{
    margin: 198px 0px auto 180px;
  }
  
  .home .home-content .text-1{
  font-size: 35px;
  font-family: sans-serif;
  }
  .home .home-content .text-2{
    font-size: 45px;
    font-weight: 600;
    margin-left: -3px;
    font-family: sans-serif;
    }
  .home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0px;
    }
  .home .home-content .text-3 span{
    color: #E91E63;
    font-weight: 500;
  }
  .home .home-content .text-4{
    font-size: 25px;
    font-family: sans-serif;
    }
  .home .home-content a{
    display: inline-block;
    background: #E91E63;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #E91E63;
    transition: all 0.9s ease;
    text-decoration: none;
  }
  .home .home-content a:hover{
    color: #E91E63;
    background: none;
  }
  
  
  